.ban[b-0qy933hfd2]  {
    color: aqua;
}
*[b-0qy933hfd2] {margin: 0; padding: 0; box-sizing: border-box;}
.spacer[b-0qy933hfd2] {width: 100%; height: 100px;}

body[b-0qy933hfd2] {font-family: "Open Sans", sans-serif;}

nav[b-0qy933hfd2] {
  width: 100%; 
  background-color: #403e3e; 
  display: flex;
  justify-content: space-between;
}
.logo[b-0qy933hfd2] {
  padding: 20px; 
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
nav .nav-bar[b-0qy933hfd2] {
  padding: 20px; 
  display: flex; 
}
nav .nav-bar .nav-bar_item[b-0qy933hfd2] {
  list-style-type: none;
  padding: 0px 20px;
}
nav .nav-bar .dropdown[b-0qy933hfd2] {
  position: relative;
}
nav .nav-bar .dropdown[b-0qy933hfd2]:after {
  content: "";
  position: absolute;
  right: 0;
  top: 5px;
  width: 7px;
  height: 7px;
  cursor: pointer;
  transform: rotate(-45deg);
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover[b-0qy933hfd2]:after{
  transform: rotate(135deg);
}
nav .nav-bar .dropdown .project[b-0qy933hfd2] {
  position: absolute;
  transform: translateX(-20px) translateY(5px);
  width: 110px;
  background-color: #403e3e;
  padding: 20px;
  border-radius: 10px;
  height: 0px;
  overflow: hidden;
  visibility: hidden;
  transition: 0.2s ease-in-out;
}
nav .nav-bar .dropdown:hover .project[b-0qy933hfd2]{
  height: 220px;
  
  visibility: visible;
}

nav .nav-bar .dropdown .project .drop-item[b-0qy933hfd2] {
  list-style-type: none;
  margin-bottom: 10px;
}
nav .nav-bar .nav-bar_item a[b-0qy933hfd2] {
  position: relative;
  padding-bottom: 5px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
nav .nav-bar .nav-bar_item a[b-0qy933hfd2]:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transition: 0.1s ease-in-out;
}
nav .nav-bar .nav-bar_item a:hover[b-0qy933hfd2]:after {
  width: 100%;
}