@page "/Credits"
<section class="credits">
   <div class="intro">
      <span class="label">A TETRIZ by</span>
      <div class="director">
         YNOV COMPAGNY
      </div>
   </div>
   <article class="crew">
      <div>
        unit production manager
      </div>
      <div>
         Nathan Schneider
      </div>
      <div>
         2nd assistant director
      </div>
      <div>
        Nicolas Segura,   Nathy Mellal	
      </div>
      <div>	
         Language 
      </div>
      <div>
         Blazor        C#
      </div>
      <div>
        This is a	
      </div>
      <div>
        studnet Project
      </div>
   </article>
   <div class="lien">
       <a href="https://tetris.com/play-tetris">TETRIZ</a>
   </div>
</section>