@page "/game"
@inherits Tetris.Code.Game

<PageTitle>Game</PageTitle>

<h1>Game</h1>

<p>Here's the game page</p>

<p>You are typing these keys : @key</p>
<input type="text" @onkeypress="listenKey" autofocus>

<div class="playerInterface">
    <button type="submit" @onclick="setTetrimino"> Add a tetrimino </button>
    <button type="submit"> &#x3008;-- </button>
    <button type="submit"> --&#x3009; </button>
</div>

<div class="card-deck m-3 grid">
    @foreach (var cell in gridObject.grid) {
        <div class="card cell @cell.name"></div>
    }
</div>

@code {
    private string key = "";

    private void listenKey(KeyboardEventArgs args) {
        key = args.Key;
    }

    protected override void OnInitialized()
    {
        gridObject.grid = this.getGrid();
    }

}
