@page "/game"
@inherits Tetris.Code.Game

<PageTitle>Game</PageTitle>

<div class="game @isRunning">
    <div class="playerInterface">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-primary btn-lg" @onclick="setTetrimino">
                <span class="oi oi-media-play" aria-hidden="true"></span>
            </button>
        </div>
        
        <div class="btn-group mr-2" role="group" aria-label="Second group">
            <button type="button" class="btn btn-outline-primary btn-lg fixBootstrap" @onclick="() => {moveTetrimino(false);}">
                <span class="oi oi-arrow-thick-left" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-outline-primary btn-lg fixBootstrap" @onclick="dropTetrimino">
                <span class="oi oi-arrow-thick-bottom" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-outline-primary btn-lg" @onclick="() => {moveTetrimino(true);}">
                <span class="oi oi-arrow-thick-right" aria-hidden="true"></span>
            </button>
        </div>
        
        <div class="btn-group mr-2" role="group" aria-label="Third group">
            <button type="button" class="btn btn-outline-primary btn-lg" @onclick="rotateTetrimino">
                <span class="oi oi-reload" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="mainContainer">
        <div class="card-deck m-3 grid">
            @foreach (var cell in gridObject.grid) {
                <div class="card cell @cell.name"></div>
            }
        </div>
    </div>
</div>

<div class="gameOver" hidden="@isRunning">
    <h1>GAME OVER</h1>
</div>


@code {
    protected override void OnInitialized() // ComponentBase method that is executed when component is ready to start
    {
        gridObject.grid = this.getGrid();
    }

    protected override Task OnInitializedAsync() // Same as OnInitialized() but allow to perform an asynchronous task
    {
        Timer();
        return base.OnInitializedAsync();
    }

    async Task Timer() { // Timer of the game, based on a task delay into a loop
        while(isRunning)
        {
            while(!isEndOfCourse)
            {
                await Task.Delay(timerDelay);
                dropTetrimino();
                StateHasChanged();
            }
            isEndOfCourse = false;
            await afterTimer();
            StateHasChanged();
        }
    }

    Task afterTimer() { // Function called after each tetrimino drop tour of loop to place next tetrimino on grid
        setTetrimino();
        return Task.CompletedTask;
    }
}
