@page "/"


@inject NavigationManager NavigationManager
<PageTitle>Menu</PageTitle>


<div class="wrapper">
  <a href='Game'><button>
    Play 
    
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button></a>
</div>



<div class="wrap">
  <a href='Options'><button>
    Options 
    
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button></a>
</div>



<div class="wra">
  <a href='Credits'><button>
    Credits
    
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </button></a>
</div>


@code {
    public void navigateToGame() {
        NavigationManager.NavigateTo("Game");
    }
}