@page "/options"

<div class="navB">
    <nav>
     <a class="logo" href="#">Logo</a> 
    <ul class="nav-bar">
         <li class="nav-bar_item"><a href="">home</a></li> 
         <li class="nav-bar_item"><a href="">about</a></li> 
        <li class="nav-bar_item dropdown">
         <a href="#">project</a> 
         <ul class="project">
            <li class="drop-item"><a href="">Work 1</a></li>
            <li class="drop-item"><a href="">Work 2</a></li>
            <li class="drop-item"><a href="">Work 3</a></li>
            <li class="drop-item"><a href="">Work 4</a></li>
            <li class="drop-item"><a href="">Work 5</a></li>
            <li class="drop-item"><a href="">Work 6</a></li>
        </ul> 
        </li>
         <li class="nav-bar_item"><a href="">services</a></li> 
         <li class="nav-bar_item"><a href="">contact</a></li> 
    </ul>
    </nav>
</div> 

<div class="select--sm">
  <ul class="select--sm_items">Choose ur Speed</ul>
  <button class="favorite_styled" type="button">slow</button>
  <button class="favorite_styled" type="button">normal</button>
  <button class="favorite_styled" type="button">fast</button>
</div>

<div class="select--md">
  <ul class="select--md_items">Select ur Grid</ul>
  <button class="style" type="button">5 x 10</button>
  <button class="style" type="button">10 x 20</button>
  <button class="style" type="button">20 x 40</button>
</div>

<div class="select--lg">
  <button class="favorite styled" type="button">Apply</button>
</div> 

<div class="footbar">
  <nav>
    <ul class="nav-bar">
      <li class="nav-bar_item"><a href="">Created By </a></li>
      <li class="nav-bar_item"><a href="">Nathan</a></li>
      <li class="nav-bar_item"><a href="">Nathy</a></li>
      <li class="nav-bar_item"><a href="">Nicolas</a></li>
    </ul>
  </nav>
</div>

