@page "/options"

<PageTitle>Options</PageTitle>


<div class="select--sm">
  <ul class="select--sm_items">Choose ur Speed</ul>
  <button class="favorite_styled" type="button">slow</button>
  <button class="favorite_styled" type="button">normal</button>
  <button class="favorite_styled" type="button">fast</button>
</div>

<div class="select--md">
  <ul class="select--md_items">Select ur Grid</ul>
  <button class="style" type="button">5 x 10</button>
  <button class="style" type="button">10 x 20</button>
  <button class="style" type="button">20 x 40</button>
</div>

<div class="select--lg">
  <button class="favorite styled" type="button">Apply</button>
</div> 



